@charset "UTF-8";
@font-face {
  font-family: "love";
  src: url("fonts/Lovely\ Balloon.ttf");
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(
    to right,
    #00ccc0,
    #1b7f79,
    #72f2eb,
    #747f7f
  );
}
h1 {
  font-family: "love";
  font-size: 3em;
}
main {
  background-color: white;
  height: 300px;
  width: 600px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 5px 5px 30px #ff4857ba;
  text-align: justify;
  padding: 10px;
  font-family: 'Space Mono', monospace;
  }
h1 {
  text-align: center;
  text-shadow: 0px 1px 1px black ;
}
p{
  font-style: italic;
}
