@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&display=swap"); /*Importamos uma fonte do google fonts*/
@font-face {
  /*importamos uma fonte externa, presonalizada*/
  font-family: medieval;
  src: url("../fonte\ externa/OldeEnglish.ttf");
}

body {
  /*corpo do texto*/
  font-family: "Playfair Display", serif;
  background-image: linear-gradient(to right, #aa8e7b, #737180);
}
header {
  /*cabeçalho*/
  text-align: left;
  background-color: white;
  padding: 10px;
  height: 150px;
  border-radius: 10px 0px;
  box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.426);
}
header > h1 {
  /*h1 filho de header*/
  font-weight: normal;
  color: #c1baf4;
  font-family: medieval;
  font-size: 40px;
}
main {
  /*conyeudo principal*/
  background-color: white;
  height: 350px;
  border-radius: 10px;
  text-align: justify;
  padding: 15px;
  width: 650px;
  box-shadow: 19px 10px 20px 0px rgba(0, 0, 0, 0.384);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #737180;
}
footer {
  /*rodape do site*/
  background-color: white;
  border-radius: 10px;
  text-align: justify;
  padding: 2px;
  width: 250px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 19px 10px 20px 0px rgba(0, 0, 0, 0.384);
  border: 4px solid #737180;
}
footer > p {
  /*paragrafo sendo filho de footer*/
  text-align: center;
}
article > h2 {
  /*h2 sendo filho de article*/
  text-align: center;
}
article > p {
  /*p sendo filho de article tbm*/
  text-indent: 10px;
}
nav {
  /*a sendo filho de nav*/
  color: #c1baf4;
  background-color: rgba(117, 237, 197, 0.588);
  box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.408);
  /* 5 parametros, o 1° é o quanto a sombra vai para a direita ou esquerda(se for negativa), o 2° é quando a sombra vai para cima(se for negativa) e o quanto vai para baixo, o 3° o quão embaçado vai ficar, e o 4° o espaçamento, a largura da sombra, e o ultimo a cor da sombra, temos inline(dentro) e outline(fora) nas sombras
  */
}
a:hover {
  /*pseudo-classe usada em "a"(link) para mudar a cor de "a" quando o mouse passar por cima*/
  color: rgb(255, 127, 244);
}
h1:hover {
  /*pseudo-classe para mudar a cor de h1 quando o mouse passar por cima*/
  color: rgb(255, 127, 244);
}
.setas::after {
  /*pseu-elemento para colocar simbolos na class que criei nos "a"(links) usando o nome de "setas" por causa da sua função!*/
  content: "✴";
}
.setas::before{
  content: "✴";
}
div#bola{
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

