@charset "UTF-8";

body{
    background-image: url('imagens/espaco.jpg');
    height: 100vh;
    background-attachment: fixed;    
}

.conteiner{
    text-align: center;
    position: relative;
    top: 25%;
}