@charset "UTF-8";

body{
    background-image: url('./imagens/wallpaper001.jpg');
}

div.quadrado{
    display: inline-block;
    border: 2px solid black;
    width: 300px;
    height: 300px;
    border-radius: 10px;   
}
#q1{
  background-color: rgb(134, 114, 250);
}
#q2{
  background-image: linear-gradient(to bottom, yellow, red);
}
#q3{
 background-image: url('./imagens/pattern003.png');
}