@charset "UTF-8";

/* Configurações para celular em deitado(Landscape) */


body{
    background: url('../imagens/cev-landscape.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
}