@charset "UTF-8";
@font-face {
    font-family: robo;
    src: url('../d010/imagens/fontes/idroid.otf');
}

body{
    margin: 0px;
    background-color: antiquewhite;
    
}
header > h1{
    display: flex;
    justify-content: center;
    font-weight: normal;
    color: rgb(252, 252, 252);
    font-family: Arial, Helvetica, sans-serif;
}
header > p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    height: 100px;
}
 .link{
    text-decoration: dotted;
    color: #c0f1e0;
    margin: 10px;
    font-size: 17px;
}
header{
    background-image: linear-gradient(to top,#3B8C6E,#89D99D  );
    padding: 20px;
    height: 200px;
}
.link:hover{
    background-color: #27743c70;
    border: 6px solid #62c47c70;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  
}
.titulo{
    text-align: center;
    font-family: robo;
    font-weight: normal;
    color: #396958;
}
main{
    min-width: 400px;
    max-width: 800px;
    background-color: white;
    margin: auto;
    padding: 10px;
}
h2{
    display: flex;
    margin-left: 5px;
}
 p{
    text-indent: 10px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
 }
 #titulom{
    font-family: robo;
    font-weight: normal;
    color: #396958;
    background-image: linear-gradient(to right, #75e391, white);
 }
 .linkm:hover{
     text-decoration: underline;
 }
 #borda{
    border-radius: 5px;
 }
 .largura{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 a{
    color: rgba(233, 11, 203, 0.597);
 }
 a:hover{
    text-decoration: underline;
 }
 .titulomk{
    font-family: robo;
 }
 .lrg{
    display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
 }
 #center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-image: linear-gradient(to top,#3B8C6E,#89D99D  );
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 14px -5px 20px 0px rgba(0, 0, 0, 0.303);
 }
 #mudança{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 40px;  
 }
 #esp{
    display: flex;
    justify-content: flex-stard;
 }
 .emoji::before{
    content: '✔️';
 }
 ol{
    display: inline-block;
 }
 #outra{
    font-size: 18px;
    background-color: #72cf6574;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
 }
 #corlink{
    color: #0f6825;
 }
 footer{
   background-color: #0f6825;
   display: flex;
   justify-content: center;
   margin: 0px;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
   color: white;
 }